<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Modify Product</h3>
<p>
    <a th:href="@{/}">
        Back to products list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/deleteReal}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Detail</label>
            <input type="text" th:field="*{detail}"/>
        </div>
        <div>
            <label>Category</label>
            <input type="text" th:field="*{category}"/>
        </div>
        <div>
            <label>Amount</label>
            <input type="text" th:field="*{amount}"/>
        </div>
        <input type="submit" value="Delete"></input>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>